
@import url('https://fonts.googleapis.com/css?family=Antic');
.f-pg  {
  background-image: url("./imgs/kitchen.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
#nav-name{
  font-family: 'Archivo Black';
  }

#banner{
  width: 100%;
  height: 580px;
  border-radius: 55;
  object-fit: cover;
  max-width: 100%;
  display: block;
  /* border-radius: 58% 0% 0% 100% / 0% 0% 0% 28% ; */
  filter: brightness(.4);
  
}
.wrapper {
  /* display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
   */
}

.wrapper > * {
  padding: 20px;
  
}
#form{
  width: 50%;
  /* border: solid rgba(211, 209, 209, 0.418); */
  padding: 15px;
  /* border-radius: 50px;
  background:  rgba(211, 209, 209, 0.418); */

  margin: auto;
  width: 50%;
  top: 50%;

}
#caption-buttons>*{
  position: relative;
  /* word-spacing:15px; */
  bottom: 80px;
  z-index: 999;
  color: white

}
#btn{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
@import url('https://fonts.googleapis.com/css?family=Almarai');
#caption{
  top: 30%;
  font-family: 'Almarai';
  text-shadow: 2px 2px 4px #000000;

  /* text-align: center; */

}
.cards{
  /* color:rgb(238, 197, 14) */
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/* .first, .third{
  bottom: -35px;
} */
#figure{
  border: 50%;
  top: 35%;
}
#form>*{
  text-shadow: 2px 2px 8px #ffffff;
  font-family: 'Antic';
  color: black;
  font-weight: bolder;

}
#form #submit{
  color: white;
  text-shadow: none;

}
@import url('https://fonts.googleapis.com/css?family=Allerta');
.title{
  font-family: 'Allerta';
  /* color: #948d8d; */
  -webkit-text-decoration:   overline;
  text-decoration:  overline;
  /* -webkit-text-decoration-skip: objects;
  text-decoration-skip: objects; */
  /* text-shadow: 1px 1px 1px #111111; */

}
.footer {
  background-color: 
  /* #17A2B8; */
  #282D33;
  color: white;
  text-align: center;
  padding: 5%;
   
  }
  /* .mr-auto{
    position: relative;
    left: 75vw;
  } */
  #work{
    text-decoration: #faf9fc overline  ;
    padding: 10px;

  }
 
  .img{  
    width:  100%;
    height: 250px;
    object-fit: cover;}
    .d-block{
      width: 100%;
      height: 580px;
      /* border-radius: 55; */
      object-fit: cover;
      max-width: 100%;
      /* display: block; */
    }
    #call{
      color: white;
      font-family: 'Antic';
      text-shadow: 2px 2px 8px #000000;
      border: solid #808992 ;
      background-color: #808992;

    }
   #a-p{
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    background-color: white;
   }
   #work-info{
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   }
   .a-b{
     color: white;
     text-shadow: 2px 2px 8px #000000;

   }
   .list{
    background-color: transparent;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 0;
    color: #fff;
    text-shadow: 2px 2px 8px #000000;

   }
  